/* Media Queries! */

/* Most Phones */
@media only screen and (max-width: 414px) {
    .uk-column-1-1 {
        margin: 2em;
    }

    .banner {
        width: 80%;
        border-bottom: 2px solid black;
    }

    .navbar {
        width: 99%;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    .nav-link {
        font-size: 18px;
    }

    .slideshow {
        width: 88%;
    }

    .contact-panel {
        width: 70%;
    }

    .mailto-link {
        font-size: 13px;
    }

    #footer {
        width: 99%;
        bottom: 0;
    }
}

/* Bigger screens/iPad */
@media only screen and (max-width: 900px) {
    .uk-column-1-1 {
        margin: 2em;
    }

    .banner {
        width: 80%;
        border-bottom: 2px solid black;
    }

    .navbar {
        width: 99%;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    .nav-link {
        font-size: 18px;
    }

    .slideshow {
        width: 88%;
    }

    .contact-panel {
        width: 70%;
    }

    .mailto-link {
        font-size: 13px;
    }

    #footer {
        width: 99%;
        bottom: 0;
    }
}

/* iPad Pro */
@media only screen and (max-width: 1024px) {
    .uk-column-1-1 {
        margin: 2em;
    }

    .banner {
        width: 50%;
        border-bottom: 2px solid black;
    }

    .navbar {
        width: 99%;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    .nav-link {
        font-size: 18px;
    }

    .slideshow {
        width: 88%;
    }

    .contact-panel {
        width: 70%;
    }

    .mailto-link {
        font-size: 13px;
    }

    #footer {
        width: 99%;
        bottom: 0;
    }
}