.logo{
	width: 100%;
	height: 200px;

	background-color: lightskyblue;

	border-bottom: solid 4px teal;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

body{
	margin: 0px;
}

.logoimg{
	display: block;

	margin-left: auto;
	margin-right: auto;

	width: 30%;
}

.rusty{
	width: 90%;
	height: 90%;
	margin-top: 20px;
	margin-left: 17px;
}

.middle{
	width: 100%;
	height: 600px;

}


.sidebarright{
	width: 18%;
	height: 450px;
	background-color: whitesmoke;

	float: left;

	margin-left: 20px;
	margin-top: 66px;

	border-radius: 25px;
	border: groove 2px black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebarlefttop{
	width: 18%;
	height: 250px;
	background-color: whitesmoke;

	float: left;
	margin-top: 66px;
	margin-left: 255px;

	border-radius: 25px;
	border: groove 2px black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.middlebackground{
	width: 35%;
	height: 500px;
	background-color: whitesmoke;

	float: left;

	margin-left: 20px;
	margin-top: 50px;

	border-radius: 25px;
	border: groove 2px black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer{
	width: 80%;
	height: 100px;
	
	background-color: sandybrown;

	margin-left: auto;
	margin-right: auto;
	
	border: groove 2px black;
	border-radius: 30px;
}