
body {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.container {
    /* min-height: 33em; */
}

.hide-container {
    display: none;
}

nav {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

body {
    background-color: skyblue;
    background-image: linear-gradient(skyblue, white);
}

/* Paragraph */
p {
    text-align: center;
    font-size: 26px;
    font-family: 'Acme', sans-serif;
    color: black;
}

h2 {
    text-align: center;
    font-family: 'Acme', sans-serif; 

    padding-bottom: 20px;
    padding-top: 20px;

    border-bottom: 2px solid lightblue;
}

/* Top Image */
.banner {
    border: 2px solid black;
    border-radius: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

    border-bottom: none;
}

/* Navbar Link */
.nav-link {
    font-family: 'Gamja Flower', cursive;
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: -10px;
}

.navbar {
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    padding-top: 10px;
    margin: auto;
    background-color: white;
}

.nav-li {
    margin: auto;
    margin-bottom: 10px;
    padding-left: 0px;
}

/*Column */
.uk-column-1-1 {
    margin-left: 25%;
    margin-right: 25%;

    min-height: 100%;
    clear: both;
}

.main-content {
    min-height: 100%;
}

/* Contact Panel */
.contact-panel {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-panel-label {
    margin-left: -66%;
}

.contact-panel-form-name {
    margin-left: -66%;
}

.contact-panel-form-message {
    margin-left: -66%;
    height: 15em;
}

.contact-submit {
    margin-top: 20px;
    margin-left: 50%;
}

/* Footer div */
.footer {
    color: black;
    background-color: skyblue;

    height: 10vh;
    width: 100%;

    text-align: center;

    border: 2px solid black;

    position: flex;
    flex-shrink: 0;
    margin-top: 0;
    bottom: 0;
    left: 0;
}

/* Footer text */
.footer h3 {
    font-family: 'Gamja Flower', cursive;
    line-height: 10vh;
}

/* USDA label */
.usda {
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 12%;
    text-align: center;
}

/* Specials Page - Slideshow */
.slideshow {
    width: 33%;
    margin: auto;
}

/* Used for animations */
/* Note: Animations will only be shown the first time you visit the page that day */

/* Picture Animations */
#banner {
    animation-delay: 3.8s;
}

/* Header Animations */
#header-1 {
    animation-delay: 0.6s;
    animation-duration: 2.25s;
}

#header-2 {
    animation-delay: 3.2s;
    animation-duration: 2.25s;
}

/* Navbar Animations */
#navbar-list {
    animation-delay: 4.5s;
    animation-duration: 2.25s;
}

#home-link {
    animation-delay: 4.7s;
    animation-duration: 1.5s;
}

#products-link {
    animation-delay: 4.9s;
    animation-duration: 1.5s;
}

#shop-link {
    animation-delay: 5.1s;
    animation-duration: 1.5s;
}

#specials-link {
    animation-delay: 5.3s;
    animation-duration: 1.5s;
}

#contact-link {
    animation-delay: 5.5s;
    animation-duration: 1.5s;
}

/* Main Paragraph Animation */
#main-paragraph {
    animation-delay: 4s;
    animation-duration: 5s;
}

#footer {
    animation-delay: 4s;
    animation-duration: 4s;
}