
/* Hides the content before animations start */
.hide-container {
    display: none;
}

/* Navbar borders */
nav {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}


body {
    /* Set body to fit the whole screen */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    /* Set background gradient, no touch action, min height is the whole view */
    background-color: skyblue;
    background-image: linear-gradient(skyblue, white);
    touch-action: none;
    min-height: 100vh;
}

/* Paragraph */
p {
    text-align: center;
    font-size: 24px;
    font-family: 'Acme', sans-serif;
    color: black;
}

h2 {
    text-align: center;
    font-family: 'Acme', sans-serif; 

    padding-bottom: 20px;
    padding-top: 20px;

    border-bottom: 2px solid lightblue;
}

/* Top Image */
.banner {
    border: 2px solid black;
    border-radius: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

    border-bottom: none;
}

/* Navbar Link */
.nav-link {
    font-family: 'Gamja Flower', cursive;
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: -10px;
}

/* Navbar */
.navbar {
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    padding-top: 10px;
    margin: auto;
    background-color: white;
}

/* Nav list item */
.nav-li {
    margin: auto;
    margin-bottom: 10px;
    padding-left: 0px;
}

/*Column */
.uk-column-1-1 {
    margin-left: 25%;
    margin-right: 25%;

    min-height: 100%;
    clear: both;
}

.main-content {
    min-height: 100%;
    flex: 1;
}

/* Specials */
.main-text {
    padding-top: 10vh;
}

/* Contact Panel */
.contact-panel {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* .contact-panel-label {
    margin-left: -66%;
}

.contact-panel-form-name {
    margin-left: -66%;
}

.contact-panel-form-message {
    margin-left: -66%;
    height: 15em;
} */

.contact-submit {
    margin-top: 20px;
    margin-left: 50%;
}

/* Footer div */
.footer {
    color: black;
    background-color: skyblue;

    height: 10vh;
    width: 99%;

    text-align: center;

    border: 2px solid black;

    position: flex;
    flex-shrink: 0;

    margin: auto auto 0 auto;
    margin-bottom: 0;
}

/* Footer text */
.footer h3 {
    font-family: 'Gamja Flower', cursive;
    line-height: 10vh;
}

/* USDA label */
.usda {
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 12%;
    text-align: center;
}

/* Specials Page - Slideshow */
.slideshow {
    width: 33%;
    margin: auto;
}